_{{ 'code_game_section.css' | asset_url | stylesheet_tag }}

<div class="code_game">
  <div class="game_section">
     <div class="games_head">
       <h3>{{ section.settings.game_head }}</h3>
     </div>
     <div class="games_text">
      <p>{{ section.settings.games_text }}</p>
     </div>
    <div class="games_img">
      <img src="{{ section.settings.game_image| img_url: 'master' }}">
    </div>
    <div class="game_button">
      <a href="{{ section.settings.btn_link }}"><p>{{ section.settings.game_btn }}</p></a>
    </div>
  </div>

</div>




{% schema %}
  {
  "name": "code_game_section",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "game_image",
      "label": "game image"
    },
    {
    "type": "text",
    "id": "game_head",
    "label": "Heading",
    "default": "Quick links"
   },
    {
    "type": "text",
    "id": "games_text",
    "label": "Text",
    "default": "Quick links"
   },
  {
    "type": "text",
    "id": "game_btn",
    "label": "btn",
    "default": "Quick links"
   }
    
  ],
  
  "presets": [
     {
       "name": "code_game_section",
       "settings": {
          
        }
     }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}