{{ 'column.css' | asset_url | stylesheet_tag }}

<section>
  <div class="column_section">
   <div class="column_header">
      <h2>{{ section.settings.header }}</h2>
   </div>
   <div class="column_line">
      <p>{{ section.settings.line }}</p>
    </div>
    <div class="star">
       {%- for block in section.blocks -%}
      <div class="column_star">
        <svg height="25" width="23" class="star rating" data-rating="4" stroke="#cd9944">
           <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;"/></polygon>
       </svg> 
      </div> 
    {% endfor %}
    </div>
    <div class="head">
     <h3>{{ section.settings.head}}</h3>
    </div>
    <div class="head">
     <p>{{ section.settings.head_text}}</p>
    </div>
    <div class="footer_head">
      <h3>{{ section.settings.footer_header }}</h3>
    </div>
      
  </div>
            

  <div class="section-2">
      <div class="column_section">
   <div class="column_header">
      <h2>{{ section.settings.header }}</h2>
   </div>
   <div class="column_line">
      <p>{{ section.settings.line }}</p>
    </div>
    <div class="star">
       {%- for block in section.blocks -%}
      <div class="column_star">
        <svg height="25" width="23" class="star rating" data-rating="4" stroke="#cd9944">
           <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;"/></polygon>
       </svg> 
      </div> 
    {% endfor %}
    </div>
    <div class="head">
     <h3>{{ section.settings.head}}</h3>
    </div>
    <div class="head">
     <p>{{ section.settings.head_text}}</p>
    </div>
    <div class="footer_head">
      <h3>{{ section.settings.footer_header }}</h3>
    </div>
      
  </div>
         
 

   <div class="column_section">
   <div class="column_header">
      <h2>{{ section.settings.header }}</h2>
   </div>
   <div class="column_line">
      <p>{{ section.settings.line }}</p>
    </div>
    <div class="star">
       {%- for block in section.blocks -%}
      <div class="column_star">
        <svg height="25" width="23" class="star rating" data-rating="4" stroke="#cd9944">
           <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;"/>
       </svg> 
      </div> 
    {% endfor %}
    </div>
    <div class="head">
     <h3>{{ section.settings.head}}</h3>
    </div>
    <div class="head">
     <p>{{ section.settings.head_text}}</p>
    </div>
    <div class="footer_head">
      <h3>{{ section.settings.footer_header }}</h3>
    </div>
      
 



         
 
</section>











{% schema %}
 {
  "name": "Column",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": "Heading",
      "default": "Quick links"
    },
    {
      "type": "text",
      "id": "line",
      "label": "Heading",
      "default": "Quick links"
    },
    {
      "type": "text",
      "id": "head",
      "label": "Heading",
      "default": "Quick links"
    },
    {
      "type": "text",
      "id": "head_text",
      "label": "Heading",
      "default": "Quick links"
    },
    {
      "type": "text",
      "id": "footer_header",
      "label": "Heading",
      "default": "Quick links"
    },
    {
      "type": "text",
      "id": "head-section",
      "label": "Heading",
      "default": "Quick links"
    },
    {
      "type": "text",
      "id": "head_text_section",
      "label": "Heading",
      "default": "Quick links"
    },
    {
      "type": "text",
      "id": "footer_header_section",
      "label": "Heading",
      "default": "Quick links"
    }
  ],
  "blocks": [
  {
  "type": "images",
  "name": "Images",
  "settings": [
     
  ] 
  }
],
  "presets": [
     {
       "name": "Column",
       "settings": {
          
        }
     }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}


             
          
</div>
{% javascript %}
{% endjavascript %}