{{ 'makedo.css' | asset_url | stylesheet_tag }}

<div class="makedo_section">
  <div class="background_img">
  
  </div>
<div class="wrapper">
  <div class="makedo_headr">
    {% if section.settings.header != blank  %}
    <h3>{{ section.settings.header }}</h3>
    {% endif %}
  </div>
  <div class="column_section">
    {%- for block in section.blocks -%}
        <div class="img_section">
          <div class="column_img">
            {% if block.settings.img != blank  %}
             <img src="{{ block.settings.img | img_url: 'master'}}">
            {% endif %}
          </div>
         <div class="colum_text">
            {% if block.settings.text != blank  %}
             <h3>{{ block.settings.text }}</h3>
           {% endif %}
         </div>
        <div class="paragraph_section">
         {% if block.settings.paragraph != blank  %}
          <p>{{ block.settings.paragraph }}</p>
          {% endif %}
        </div>
        </div>
     {% endfor %}
 </div>

 
</div>
</div>

{% style %}
 .background_img{
     {% if section.settings.background_images != blank  %}
     <img src="{{ section.settings.background_images | img_url: 'master'}}">
    {% endif %}
 }
  
{% endstyle %}






{% schema %}
{
"name": "maked",
"tag": "section",
"settings": [
  {
    "type": "image_picker",
    "id": "background_images",
    "label": "image"
  },
  {
  "type": "text",
  "id": "header",
  "label": "Heading",
  "default": "Quick links"
}
],
"blocks": [
{
"type": "images",
"name": "Images",
"settings": [
     {
    "type": "image_picker",
    "id": "img",
    "label": "Image"
  },
   {
  "type": "text",
  "id": "text",
  "label": "Text",
  "default": "Quick links"
 },
  {
    "type": "richtext",
    "id": "paragraph",
    "label": "Paragraph"
  }
  ] 
}
],

"presets": [
   {
     "name": "makedo",
     "settings": {
        
      }
   }
 ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}