{{ 'makedo.css' | asset_url | stylesheet_tag }}

<div class="section-{{ section.id }} makedo_section" >
<div class="wrapper">
    <div class="makedo_headr">
    {% if section.settings.header != blank  %}
      <h2>{{ section.settings.header }}</h2>
    {% endif %}
   </div>
  
    <div class="column_section">
     {%- for block in section.blocks -%}
        <div class="img_section">
          <div class="grid_section">
            <div class="column_img">
            {% if block.settings.img != blank  %}
             <img src="{{ block.settings.img | img_url: 'master'}}">
            {% endif %}
          </div>
           <div class="colum_text">
              {% if block.settings.text != blank  %}
               <h3>{{ block.settings.text }}</h3>
             {% endif %}
           </div>
         </div>
        </div>
     {% endfor %}
   </div>
  <div class="column_section mobile_wrap">
      <div class="aerro_two">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
             <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" /></path>
     </svg>
   </div>
      {%- for block in section.blocks -%}
        <div class="img_section">
           <div class="aerro_section">
               <span class="dot"></span>
                <div class="aerro">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" /></path>
                  </svg>
                </div>
            </div>
          <div class="grid-item">
           
           
             <div class="paragraph_section">
             {% if block.settings.paragraph != blank  %}
              <p>{{ block.settings.paragraph }}</p>
             {% endif %}
             </div>
          </div>
       </div>
    {% endfor %}
  
  </div>

   


</div>
</div>

{% style %}
.section-{{ section.id }} {       
  background-image: url({{ section.settings.background_images | img_url: 'master'}});
}
  {% endstyle %}






{% schema %}
{
"name": "maked",
"tag": "section",
"settings": [
{
  "type": "image_picker",
  "id": "background_images",
  "label": "image"
},
{
"type": "text",
"id": "header",
"label": "Heading",
"default": "Quick links"
}
],
"blocks": [
{
"type": "images",
"name": "Images",
"settings": [
   {
  "type": "image_picker",
  "id": "img",
  "label": "Image"
},
 {
"type": "text",
"id": "text",
"label": "Text",
"default": "Quick links"
},
{
  "type": "richtext",
  "id": "paragraph",
  "label": "Paragraph"
}
] 
}
],

"presets": [
 {
   "name": "makedo",
   "settings": {
      
    }
 }
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}