{{ 'makedo.css' | asset_url | stylesheet_tag }}

<div class="makedo_section">
    <div class="background_img">
      <img src="{{ section.settings.background_images | img_url: 'master'}}">
    </div>
  <div class="wrapper">
    <div class="makedo_headr">
      <h3>{{ section.settings.header }}</h3>
    </div>
    <div class="column_sec">
      {%- for block in section.blocks -%}
          <div class="img_section">
            <div class="column_img">
             <img src="{{ block.settings.img | img_url: 'master'}}">
            </div>
           <div class="colum_text">
             <h3>{{ block.settings.text }}</h3>
           </div>
          </div>
       {% endfor %}
   </div>
    <div class="column_text">
      {%- for block in section.blocks -%}
           <div class="text_section">
             <p>{{ block.settings.paragraph }}</p>
           </div>
       {% endfor %}
    </div>
  </div>
 
  
</div>










{% schema %}
  {
  "name": "maked",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_images",
      "label": "image"
    },
    {
    "type": "text",
    "id": "header",
    "label": "Heading",
    "default": "Quick links"
  }
  ],
  "blocks": [
  {
  "type": "images",
  "name": "Images",
  "settings": [
       {
      "type": "image_picker",
      "id": "img",
      "label": "Image"
    },
     {
    "type": "text",
    "id": "text",
    "label": "Text",
    "default": "Quick links"
   },
    {
      "type": "richtext",
      "id": "paragraph",
      "label": "Paragraph"
    }
    ] 
  }
],
  "presets": [
     {
       "name": "makedo",
       "settings": {
          
        }
     }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}