{{ 'news_letter.css' | asset_url | stylesheet_tag }}

<div class="root">
  <div class="news_section">
    <div class="news_header">
      <h2>{{ section.settings.head }}</h2>
    </div>
    <div class="head">
      <h3>{{ section.settings.Master}}</h3>
    </div>
    <div class="pera">
       <p>{{ section.settings.peregraph }}</p>
    </div>
</div>
  <div class="view_point">
     <div class="free-plan">
        <div class="free_plan_button">
          <a href="#">{{ section.settings.button }}</a>
        </div>
     </div>
     <div class="plans-container">
      
     </div>
  </div>
</div>














{% schema %}
  {
  "name": "news_letter",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "head",
      "label": "Heading",
      "default": "Quick links"
    },
    {
      "type": "text",
      "id": "Master",
      "label": "head",
      "default": "Quick links"
    },
    {
      "type": "text",
      "id": "peregraph",
      "label": "text",
      "default": "Quick links"
    }
    
  ],
  
  "presets": [
     {
       "name": "news_letter",
       "settings": {
          
        }
     }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}