{{ 'w3_cart_section.css' | asset_url | stylesheet_tag }}

<div class="cart_section">
  {%- for block in section.blocks -%}
  <div class="cart section-{{ section.id }}">
    <div class="cart_header">
      <h3>{{ block.settings.cart_head }}</h3>
    </div>
    <div class="cart_text_section">
      <p>{{ block.settings.cart_text }}</p>
    </div>
    <div class="cart_button">
     <a href="{{ block.settings.cart_link }}"><p>{{ block.settings.cart_button }}</p></a>
    </div>
  </div>
  {% endfor %}
</div>

{% style %}

.section-{{ section.id }} {
background:{{ section.settings.background_color }}
}

{% endstyle %}







{% schema %}
  {
  "name": "w3_cart_section",
  "tag": "section",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Body text",
      "default": "#fff"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "settings": [
        {
          "type": "text",
          "id": "cart_head",
          "label": "Heading",
          "default": "Quick links"
        },
        {
          "type": "text",
          "id": "cart_text",
          "label": "text",
          "default": "Quick links"
        },
        {
          "type": "text",
          "id": "cart_button",
          "label": "text",
          "default": "Quick links"
        },
        {
        "type": "url",
        "id": "cart_link",
        "label": "Button link"
      }
    ]
  }
 ],
  "presets": [
     {
       "name": "w3_cart_section",
       "settings": {
          
        }
     }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}