{{ 'w3_img_text_overlep.css' | asset_url | stylesheet_tag }}
<div class="section"> 
  <div class="wrapper">
    <div class="overlep_header">
      <h1>{{ section.settings.header }}</h1>
    </div>
  <div class="overlep_section">
     {%- for block in section.blocks -%}
        <div class="overlep">
            <div class="img_text">
                 <div class="img">
                  {% if block.settings.overlep != blank  %}
                      <img src="{{ block.settings.overlep| img_url: 'master' }}">
                  {% endif %}
                 </div>
                  {% if block.settings.text != blank  %}
                  <div class="text">
                      <p>{{ block.settings.text }}</p>
                  </div>
                  {% endif %}
            </div>
            <div class="bolder">
                {% if block.settings.border != blank  %}
                  <img src="{{ block.settings.border| img_url: 'master' }}">
               {% endif %}
             </div>
        </div>
       {% endfor %}
    </div>
  </div>
</div>

{% comment %}

 

{% endcomment %}

{% schema %}
{
"name": "w3_img_text_overlep",
"tag": "section",
"settings": [
        {
          "type": "text",
          "id": "header",
          "label": "Heading",
          "default": "Quick links"
        }
],
"blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "settings": [
       {
          "type": "image_picker",
          "id": "overlep",
          "label": "image"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Heading",
          "default": "Quick links"
        },
        {
          "type": "image_picker",
          "id": "border",
          "label": "image"
        }
        
    ]
  }
 ],
"presets": [
   {
     "name": "w3_img_text_overlep",
     "settings": {
        
      }
   }
 ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}