{{ 'w3_img_text_overlep.css' | asset_url | stylesheet_tag }}
<div class="section"> 
<div class="wrapper">
<div class="overlep_section">
   {%- for block in section.blocks -%}
      <div class="overlep">
          <div class="img_text">
               <div class="img">
                  <img src="{{ block.settings.img_text }}">
               </div>
                {% if block.settings.text != blank  %}
                <div class="text">
                    <p>{{ block.settings.text }}</p>
                </div>
                {% endif %}
          </div>
          <div class="bolder">
              {% if block.settings.border != blank  %}
                <img src="{{ block.settings.border| img_url: 'master' }}">
             {% endif %}
           </div>
      </div>
     {% endfor %}
  </div>
</div>
</div>

{% comment %}

 {% if block.settings.overlep != blank  %}
                    <img src="{{ block.settings.overlep| img_url: 'master' }}">
 {% endif %}

{% endcomment %}

{% schema %}
{
"name": "w3_img_text_overlep",
"tag": "section",
"settings": [
  
],
"blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "settings": [
        {
          "type": "text",
          "id": "img_text",
          "label": "text",
          "default": "Quick links"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Heading",
          "default": "Quick links"
        },
        {
          "type": "image_picker",
          "id": "border",
          "label": "image"
        }
        
    ]
  }
 ],
"presets": [
   {
     "name": "w3_img_text_overlep",
     "settings": {
        
      }
   }
 ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}