{{ 'w3banner.css' | asset_url | stylesheet_tag }}


<div class="banner">
 <div class="banner_section">
     <div class="img_section">
     
     </div>
     
  </div>
  <div class="text_section">
     <h2>{{ section.settings.header }}</h2>
     <h3>{{ section.settings.head}}</h3>
     <p>{{ section.settings.text }}</p>
    <div class="start_button">
      <a href="#">{{ section.settings.start_button }}</a>
    </div>
  </div>
</div>


{% style %}
  .banner {       
      background-image: linear-gradient(rgb(40, 42, 53, 0.90),rgb(40, 42, 53, 0.90)), url( {{ section.settings.images| img_url: 'master' }} );
   }
{% endstyle %}









{% schema %}
{
"name": "w3banner",
"tag": "section",
"settings": [
  {
  "type": "image_picker",
  "id": "images",
  "label": "image"
  },
  {
    "type": "url",
    "id": "logo_link",
    "label": "Button link"
  },
  {
    "type": "text",
    "id": "login_button",
    "label": "BUtton",
    "default": "Quick links"
   },
  {
    "type": "text",
    "id": "header",
    "label": "header",
    "default": "Quick links"
   },
  {
    "type": "text",
    "id": "head",
    "label": "head",
    "default": "Quick links"
   },
  {
    "type": "text",
    "id": "text",
    "label": "text",
    "default": "Quick links"
   },
  {
    "type": "text",
    "id": "start_button",
    "label": "BUtton",
    "default": "Quick links"
   }
],

"presets": [
   {
     "name": "w3banner",
     "settings": {
        
      }
   }
 ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}